{% if attributes is not empty %}
  <span{{ attributes }}>
    {%- for item in items -%}
      {{ item.content }}
    {%- endfor -%}
  </span>
{% else %}
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
{% endif %}
