{% extends "field.html.twig" %}

{%
  set label_classes = [
    'field__label',
  ]
%}

{% block label %}
  <h2{{ title_attributes.addClass(label_classes) }}>Files</h2>
{% endblock label %}
{% block content %}
  <ul>
    {% for item in items %}
      <li{{ item.attributes }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% endblock content %}
