{%
  set classes = [
    'field',
    'field--' ~ field_name|clean_class,
  ]
%}

<h1{{ attributes.addclass(classes) }}>
  {% for item in items %}
    {% if item.attributes is not empty %}
      <span{{ item.attributes }}>{{ item.content }}</span>
    {% else %}
      {{ item.content }}
    {% endif %}
  {% endfor %}
</h1>
