{% extends "field.html.twig" %}

{%
  set label_classes = [
    'field__label',
  ]
%}

{% block label %}
  <h3{{ title_attributes.addClass(label_classes) }}>Audio</h3>
{% endblock %}
{% block content %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field__content') }}>
      {{ item.content }}
    </div><!-- .field__content -->
  {% endfor %}
{% endblock %}
