//
// Tags field
// --------------------------------------------------


@use "sass:math";


.field--field-file-upload {

  .field__label {
    margin: 0;
    padding: math.div($grid-gutter-width, 2) ($grid-gutter-width);
    color: white;
    background-color: $brand-primary;
    border-bottom: 1px solid white;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: block;
      padding: math.div($grid-gutter-width, 2) ($grid-gutter-width);
      border-bottom: 1px solid white;

      &:nth-child(odd) {
        background-color: lighten($brand-primary, 50%);
      }

      &:nth-child(even) {
        background-color: lighten($brand-primary, 45%);
      }
    }
  }
}
