//
// Branding block
// --------------------------------------------------


#block-tallgrasschurch-branding {
  margin: 0;

  .logo {
    display: block;
    margin: 0;

    a {
      text-decoration: none;
    }

    img {
      width: auto;
      height: 70px;
    }
  }

  .logo--with-img {
    line-height: 1;
  }

  .logo--no-img {}
}
