//
// Account menu block
// --------------------------------------------------


#block-tallgrasschurch-account-menu {

  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      white-space: nowrap;

      a {
        display: block;
        padding: 2px 7px;
        color: inherit;
        background-color: $grey-lighter;
        font-size: 1.2rem;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: darken($grey-lighter, 10%);
        }
      }
    }
  }
}
