//
// Branding block
// --------------------------------------------------


#block-tallgrasschurch-branding {
  margin: 0;

  .logo {
    display: block;
    margin: 0;

    a {
      display: inline-block;
      text-decoration: none;
    }

    img {}
  }

  .logo--with-img {
    line-height: 1;
  }

  .logo--no-img {}
}
