//
// Latest teaching block
// --------------------------------------------------


#block-tallgrasschurch-latest-teaching {
  margin: 0;
  padding: $grid-gutter-width 0;

  @media (min-width: $screen-sm) {
    padding: ($grid-gutter-width * 4) 0;
  }

  .container {}

  .block__label {}

  a {
    text-decoration: none;
  }
}
