//
// Upcoming events block
// --------------------------------------------------


#block-tallgrasschurch-news-and-events {
  margin: 0;
  padding: $grid-gutter-width 0;
  background-color: white;
  border-top: 1px solid $grey-lighter;

  @media (min-width: $screen-sm) {
    padding: ($grid-gutter-width * 4) 0;
  }

  .container {}

  .block__label {}

  .news-and-events-content {
    padding-top: $grid-gutter-width;
    border-top: 1px solid $grey-lighter;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
      grid-gap: $grid-gutter-width;
    }
  }


  // News
  // -------------------------

  .news-content {

    @media (min-width: $screen-md) {
      grid-column-end: span 8;
    }

    // TODO: Get a better selector for this
    > .article-header {
      display: none;
    }

    > .article-footer {

      p {
        text-align: left; // TODO: This is weird?

        a {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }
  }

  .news-content-article {
    position: relative;
    clear: both;
    min-height: 220px;
    margin-bottom: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    padding-right: 240px; // TODO: Get the propper padding
    border-bottom: 1px solid $grey-lighter;

    @media (min-width: $screen-md) {
      margin-right: $grid-gutter-width;
    }

    .news-content-article-header {
      display: flex;
      flex-direction: column;

      .news-content-article-header__heading {
        order: 2;
        margin: 0 0 ($grid-gutter-width / 2);
        font-size: $h4-font-size;
      }

      .news-content-article-header__date {
        order: 1;
        margin: 0;
        font-size: 1.4rem;
      }
    }

    .news-content-article-img {
      position: absolute;
      top: 0;
      right: 0;
    }

    .news-content-article-body,
    .news-content-article-more {
      font-size: 1.4rem;
    }

    .news-content-article-body {
      margin-bottom: ($grid-gutter-width / 2);
    }

    .news-content-article-more {
      margin: 0;
    }
  }


  // Events
  // -------------------------

  .events-content {
    align-self: start;
    padding: $grid-gutter-width;
    color: white;
    background-color: $brand-primary;

    .article-header {
      margin: (-$grid-gutter-width) (-$grid-gutter-width) $grid-gutter-width;
      background-color: rgba(black, .5);
      text-align: center;

      .article-header__title {
        padding: ($grid-gutter-width / 2) $grid-gutter-width;
      }
    }

    a {
      color: inherit;
    }

    @media (min-width: $screen-md) {
      grid-column-end: span 4;
    }

    // TODO: Rename this class
    .events-content-article {

      // Variables
      $date-month-font-size: 1.2rem;
      $date-day-font-size: 2.4rem;
      $date-padding-size: 5px;

      position: relative;
      min-height: calc(#{$date-month-font-size} + #{$date-day-font-size} + (#{$date-padding-size} * 2 * 2));
      padding-left: 70px;
      margin-bottom: $grid-gutter-width;

      .events-content-article-header {

        .events-content-article-header__heading {
          margin: 0;
          font-size: 1.6rem;
          line-height: normal;

          a {
            text-decoration: none;
          }
        }

        .events-content-article-header__date-and-time {

          .events-content-article-header__date {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            overflow: hidden;
            background-color: rgba(black, .2);
            text-align: center;

            .events-content-article-header__date-month,
            .events-content-article-header__date-day {
              display: block;
              padding: $date-padding-size 0;
              line-height: 1;
            }

            .events-content-article-header__date-month {
              background-color: rgba(black, .2);
              font-size: $date-month-font-size;
              text-transform: uppercase;
            }

            .events-content-article-header__date-day {
              font-size: $date-day-font-size;
            }
          }

          .events-content-article-header__date-and-time-separator {
            display: none;
          }

          .events-content-article-header__time {
            display: block;
            margin-top: 5px;
            font-size: 1.4rem;
            font-style: italic;
            line-height: normal;
          }
        }
      }
    }

    // TODO: Add class names to this section
    .article-footer {
      text-align: center;

      p {
        margin: 0;
      }

      a {
        display: block;
        margin: 0 (-$grid-gutter-width) (-$grid-gutter-width);
        padding: ($grid-gutter-width / 2) $grid-gutter-width;
        background-color: rgba(black, .2);
        text-decoration: none;
      }
    }
  }
}
