//
// Latest teaching block
// --------------------------------------------------


#block-tallgrasschurch-latest-teaching {
  margin: 0;
  padding: $grid-gutter-width 0;

  @media (min-width: $screen-sm) {
    padding: ($grid-gutter-width * 4) 0;
  }

  .container {}

  .block__label {}

  .article {
    display: flex;
    flex-direction: column;
    padding: ($grid-gutter-width / 2);
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 1px 3px 1px rgba(black, .1);

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
      grid-gap: $grid-gutter-width;
    }

    .article-header,
    .field--field-image {
      align-self: center;
    }

    .article-header {
      display: flex;
      flex-direction: column;
      order: 2;

      @media (min-width: $screen-md) {
        grid-column-start: 7;
        grid-column-end: span 6;
      }

      a {
        text-decoration: none;
      }

      .article-header__title {
        order: 2;
        margin: 0;
        font-size: 4.8rem;
        line-height: normal;
      }

      .article-header__date {
        order: 1;
        font-size: 1.4rem;
      }

      .field--field-scripture-reference {
        order: 3;
        font-size: 2.4rem;
        font-style: italic;
      }

      .field--field-speaker {
        order: 4;
        margin-top: ($grid-gutter-width / 2);
        font-size: 1.4rem;

        dd {
          margin: 0;
        }
      }
    }

    .field--field-image {
      order: 1;
      margin-bottom: $grid-gutter-width;
      line-height: 1;

      @media (min-width: $screen-md) {
        grid-column-start: 1;
        grid-column-end: span 6;
        margin-bottom: 0;
      }
    }
  }
}
