//
// Main menu block
// --------------------------------------------------


#block-tallgrasschurch-main-menu {

  ul {
    margin: (-$grid-gutter-width) (-$grid-gutter-width) 0;
    padding: $grid-gutter-width $grid-gutter-width ($grid-gutter-width / 2);
    list-style-type: none;
    border-bottom: 1px solid $grey-lighter;

    li {
      display: inline-block;
      margin-bottom: ($grid-gutter-width / 2);

      &:after {
        content: " /";
        margin: 0 5px;
      }

      &:last-child {

        &:after {
          content: "";
          margin: 0;
        }
      }

      a {
        color: $body-color;
        font-weight: bold;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: $screen-sm) {

    ul {
      margin: 0;
      padding: ($grid-gutter-width / 2) 0 0;
      border-top: 1px solid $grey-lighter;
    }
  }
}
