//
// Main menu block
// --------------------------------------------------


#block-tallgrasschurch-main-menu {
  margin: $grid-gutter-width 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {

      a {
        color: $body-color;
        font-weight: bold;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    margin: 0;
    text-align: right;

    ul {

      li {
        display: inline-block;
        margin-right: $grid-gutter-width;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
