<h2>Cards</h2>

<h3>Example</h3>

<div class="card" style="width: 25vw;">
  <div class="card__img">
    <img src="https://placeimg.com/1280/720/animals?n=example" alt="">
  </div>
  <div class="card__content">
    <div class="card__header">
      header
    </div>
    <div class="card__body">
      Tellus tortor himenaeos risus nostra augue nulla.
    </div>
    <div class="card__footer">
      footer
    </div>
  </div>
</div>

<h3>Horizontal</h3>

<div class="card--h">
  <div class="card__img">
    <img src="https://placeimg.com/1280/720/animals?n=horizontal" alt="">
  </div>
  <div class="card__content">
    <div class="card__header">
      header
    </div>
    <div class="card__body">
      Tellus tortor himenaeos risus nostra augue nulla.
    </div>
    <div class="card__footer">
      footer
    </div>
  </div>
</div>

<h3>Card decks</h3>

<h4>2-column deck</h4>

<div class="card-deck--2-col">
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=2-col-deck-1" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=2-col-deck-2" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
</div>

<h4>3-column deck</h4>

<div class="card-deck--3-col">
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=3-col-deck-1" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=3-col-deck-2" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=3-col-deck-3" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
</div>

<h4>4-column deck</h4>

<div class="card-deck--4-col">
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=4-col-deck-1" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=4-col-deck-2" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=4-col-deck-3" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="https://placeimg.com/1280/720/animals?n=4-col-deck-4" alt="">
    </div>
    <div class="card__content">
      <div class="card__header">
        header
      </div>
      <div class="card__body">
        Tellus tortor himenaeos risus nostra augue nulla.
      </div>
      <div class="card__footer">
        footer
      </div>
    </div>
  </div>
</div>
