<h2>Cards</h2>

<div class="card" style="width: 25vw;">
  <div class="card__img">
    <img src="https://placeimg.com/1280/720/animals?n=1" alt="">
  </div>
  <div class="card__content">
    <div class="card__header">
      header
    </div>
    <div class="card__body">
      Tellus tortor himenaeos risus nostra augue nulla.
    </div>
    <div class="card__footer">
      footer
    </div>
  </div>
</div>

<div class="card--h">
  <div class="card__img">
    <img src="https://placeimg.com/1280/720/animals?n=2" alt="">
  </div>
  <div class="card__content">
    <div class="card__header">
      header
    </div>
    <div class="card__body">
      Tellus tortor himenaeos risus nostra augue nulla.
    </div>
    <div class="card__footer">
      footer
    </div>
  </div>
</div>
