<div class="container">
  {% if page.header %}
    <header role="banner" class="header">
      {{ page.header }}
    </header>
  {% endif %}

  <main role="main" class="content">
    {{ page.content }}
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="footer">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>{# .container #}
