//
// Alerts
// --------------------------------------------------


.alert {
  padding: $grid-gutter-width;
}

.alert--primary {
  color: darken($brand-primary, 20%);
  background-color: lighten($brand-primary, 40%);
  border: 1px solid lighten($brand-primary, 30%);
}
