//
// Images
// --------------------------------------------------


figure {

  img {}

  figcaption {
    color: $grey-light;
    font-size: 1.4rem;
    font-style: italic;
    line-height: $line-height-base;
  }
}
