//
// Mixins
// --------------------------------------------------


// Links
// -------------------------

@mixin add-link-styles {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}

@mixin remove-link-styles {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
  }
}
