//
// Mixins
// --------------------------------------------------


// Links
// -------------------------

@mixin add-link-styles {
  color: $link-color;
  text-decoration: none;
  box-shadow: inset 0 -0.1em 0 $blue-200;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    color: $link-color-hover;
    box-shadow: inset 0 -0.5em 0 $blue-200;
  }
}

@mixin remove-link-styles {
  color: inherit;
  border-bottom: none;
  box-shadow: none;

  &:hover,
  &:focus {
    color: inherit;
    box-shadow: none;
  }
}


// Container
// -------------------------

@mixin add-container-styles {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @media (min-width: $screen-sm) {
    width: $container-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @media (min-width: $screen-lg) {
    width: $container-lg;
  }

  @media (min-width: $screen-xl) {
    width: $container-xl;
  }
}
