//
// Scaffolding
// --------------------------------------------------


// Document
// -------------------------

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $grey-lightest;
}


// Links
// -------------------------

a {
  color: $brand-primary;
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
  }
}


// Images
// -------------------------

img {
  max-width: 100%;
  height: auto;
}
