//
// Theme
// --------------------------------------------------


// Scaffolding
// -------------------------

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
}


// Links
// -------------------------

a {
  color: $brand-primary;
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover,
  &focus {
  }
}


// Images
// -------------------------

img {
  max-width: 100%;
  height: auto;
}


// Layout
// -------------------------

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @media (min-width: $screen-sm) {
    width: $container-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

//  @media (min-width: $screen-lg) {
//    width: $container-lg;
//  }

//  @media (min-width: $screen-xl) {
//    width: $container-xl;
//  }
}

.header {
  margin-bottom: $grid-gutter-width * 2;
}

.logo {
  display: block;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: normal;
  text-transform: uppercase;

  a {
    display: block;
    margin: 0 (-$grid-gutter-width);
    padding: $grid-gutter-width;
    color: white;
    background-color: $brand-success;
    text-decoration: none;
  }

  span {
    display: block;
  }

  &:hover,
  &:focus {

    a {
      background-color: darken($brand-success, 10%);
    }
  }

  @media (min-width: $screen-sm) {
    display: inline-block;

    &:hover,
    &:focus {

      a {
        margin-bottom: -($grid-gutter-width * 0.5);
        padding-top: $grid-gutter-width * 1.5;
      }
    }
  }
}

.content {}

.footer {}
