//
// Theme
// --------------------------------------------------


// Layout
// -------------------------

.page {
  background-color: white;
}

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @media (min-width: $screen-sm) {
    width: $container-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

//  @media (min-width: $screen-lg) {
//    width: $container-lg;
//  }

//  @media (min-width: $screen-xl) {
//    width: $container-xl;
//  }
}

.header {
  margin: 0;
  background-color: white;
}

.region--header {

  @media (min-width: $screen-sm) {
    // Clearfix
    // https://css-tricks.com/snippets/css/clear-fix/
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

#block-tallgrasschurch-branding {

  @media (min-width: $screen-sm) {
    float: left;
    margin-left: -$grid-gutter-width;
    padding: 0 $grid-gutter-width;
  }
}

#block-tallgrasschurch-main-menu {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {}
    }
  }

  @media (max-width: $screen-xs-max) {
    margin: 0 (-$grid-gutter-width);
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    border-bottom: 1px solid $grey-lighter;

    ul {

      li {
        margin-right: $grid-gutter-width;
      }
    }
  }

  @media (min-width: $screen-sm) {
    float: right;
    padding-top: $grid-gutter-width;

    ul {

      li {
        margin-left: $grid-gutter-width;
      }
    }
  }
}

.logo {
  display: block;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: normal;
  text-transform: uppercase;

  a {
    display: block;
    margin: 0 (-$grid-gutter-width);
    padding: $grid-gutter-width;
    color: white;
    background-color: $brand-success;
    text-decoration: none;
  }

  span {
    display: block;
  }

  &:hover,
  &:focus {

    a {
      background-color: darken($brand-success, 10%);
    }
  }

  @media (min-width: $screen-sm) {
    display: inline-block;

    &:hover,
    &:focus {

      a {
        margin-bottom: -($grid-gutter-width * 0.5);
        padding-top: $grid-gutter-width * 1.5;
      }
    }
  }
}

.content {
  padding: ($grid-gutter-width * 2) 0;
  background-color: white;
}

.footer {
  padding: $grid-gutter-width 0;
  background-color: $grey-lightest;
  font-size: 1.4rem;
}

.region--footer {

  @supports (display: flex) {

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

#block-tallgrasschurch-footer-content {

  @supports (display: flex) {

    @media (min-width: $screen-sm) {
      margin-right: $grid-gutter-width;
    }
  }
}

#block-tallgrasschurch-account-menu {

  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      white-space: nowrap;

      a {
        display: block;
        padding: 2px 7px;
        color: inherit;
        background-color: $grey-lighter;
        font-size: 1.2rem;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: darken($grey-lighter, 10%);
        }
      }
    }
  }
}

#block-tallgrasschurch-local-tasks {
  font-size: 1.4rem;
  line-height: $line-height-base;

  ul {
    margin: 0 0 $grid-gutter-width;
    padding: 0 10px;
    list-style-type: none;
    border-bottom: 1px solid $grey-lighter;

    li {
      display: inline-block;
      margin: 0 5px -1px 0;
      white-space: nowrap;

      a {
        display: block;
        padding: 10px 20px;
        color: inherit;
        background-color: $grey-lightest;
        border: 1px solid $grey-lighter;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &.is-active {
          background-color: white;
          border-bottom-color: white;
        }
      }
    }
  }
}

// TODO: Remove/merge?
.page-title {
  display: flex;
  flex-direction: column;
  margin-bottom: $line-height-computed;

  .page-title__title {
    order: 2;
    margin: 0;
    line-height: 1.2;
  }

  .page-title__subtitle {
    order: 3;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.2;
  }

  .page-title__date {
    order: 1;
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: $line-height-base;
  }

  .page-title__meta {
    order: 4;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: $line-height-base;

    div {
      //flex: 0 0 auto;
    }

    .page-title__speaker {}

    .page-title__scripture {}

    .page-title__series {}
  }
}

// TODO: Some of these styles should only apply to specific content types
.article-header {
  display: flex;
  flex-direction: column;
  margin-bottom: $line-height-computed;

  .article-header__title {
    order: 2;
    margin: 0;
    line-height: 1.2;
  }

  .article-header__subtitle {
    order: 3;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.2;
  }

  .article-header__date {
    order: 1;
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: $line-height-base;
  }

  .article-header__meta {
    order: 4;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: $line-height-base;

    dl {
      //flex: 0 0 auto;
    }
  }

  .article-header__speaker,
  .article-header__scripture,
  .article-header__series {
    margin: 0;

    dt,
    dd {
      display: inline;
    }

    dt {}

    dd {

      &:after {
        content: ",";
      }

      &:last-child {

        &:after {
          content: "";
        }
      }
    }
  }

  .article-header__speaker {}

  .article-header__scripture {}

  .article-header__series {}
}

.status-message {
  @extend .alert;
  @extend .alert--primary;
  margin-bottom: $line-height-computed;
}

.field--field-image {}

.field--field-image-right {
  @extend .align-right;
}

.field--field-image-left {
  @extend .align-left;
}

.field--field-image-center {
  @extend .align-center;
}

.field--field-image-full {
  @extend .align-center;
}

.field--field-file-upload {

  .field__label {
    margin: 0;
    padding: ($grid-gutter-width / 2) ($grid-gutter-width);
    color: white;
    background-color: $brand-primary;
    border-bottom: 1px solid white;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: block;
      padding: ($grid-gutter-width / 2) ($grid-gutter-width);
      border-bottom: 1px solid white;

      &:nth-child(odd) {
        background-color: lighten($brand-primary, 50%);
      }

      &:nth-child(even) {
        background-color: lighten($brand-primary, 45%);
      }
    }
  }
}

.field--field-tags {
  margin: ($grid-gutter-width * 2) 0;
  font-size: .7em;
  line-height: $line-height-base;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px;
      white-space: nowrap;

      a {
        display: inline-block;
        padding: 5px 10px;
        background-color: $grey-lightest;
        border-radius: 1em;
        text-decoration: none;
      }
    }
  }
}

.media-group {
  margin: ($grid-gutter-width * 2) 0;
  padding: $grid-gutter-width;
  color: white;
  background-color: #333;

  .media-group__nav {
    display: flex;
    justify-content: center;
    margin: 0 0 $grid-gutter-width;
    padding: 0;
    list-style-type: none;
    font-size: .8em;

    li {
      margin-left: -1px;

      button {
        padding: 10px 20px;
        color: darken(white, 50%);
        background: none;
        border: 1px solid darken(white, 70%);
        outline: none;
        cursor: pointer;
      }

      &:first-child {
        margin-left: 0;
      }

      &.active {

        button {
          color: white;
          background-color: darken(white, 70%);
        }
      }
    }
  }

  audio {
    width: 100%;
  }

  .embed-responsive {
    margin: 0;
  }
}
