//
// Typography
// --------------------------------------------------


// Lists
// -------------------------

// Description lists
dl {
  margin-bottom: $line-height-computed;

  dt,
  dd {}

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }
}
