//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$white:               #fff;
$gray-100:            #f9f9f9;                $grey-100:            $gray-100;
$gray-200:            #eee;                   $grey-200:            $gray-200;
$gray-300:            #ddd;                   $grey-300:            $gray-300;
$gray-400:            #ccc;                   $grey-400:            $gray-400;
$gray-500:            #aaa;                   $grey-500:            $gray-500;
$gray-600:            #777;                   $grey-600:            $gray-600;
$gray-700:            #555;                   $grey-700:            $gray-700;
$gray-800:            #333;                   $grey-800:            $gray-800;
$gray-900:            #222;                   $grey-900:            $gray-900;
$black:               #000;

$gray-100-alpha:      rgba(0, 0, 0, 0.024);   $grey-100-alpha:      $gray-100-alpha;
$gray-200-alpha:      rgba(0, 0, 0, 0.065);   $grey-200-alpha:      $gray-200-alpha;
$gray-300-alpha:      rgba(0, 0, 0, 0.135);   $grey-300-alpha:      $gray-300-alpha;
$gray-400-alpha:      rgba(0, 0, 0, 0.2);     $grey-400-alpha:      $gray-400-alpha;
$gray-500-alpha:      rgba(0, 0, 0, 0.335);   $grey-500-alpha:      $gray-500-alpha;
$gray-600-alpha:      rgba(0, 0, 0, 0.535);   $grey-600-alpha:      $gray-600-alpha;
$gray-700-alpha:      rgba(0, 0, 0, 0.665);   $grey-700-alpha:      $gray-700-alpha;
$gray-800-alpha:      rgba(0, 0, 0, 0.8);     $grey-800-alpha:      $gray-800-alpha;
$gray-900-alpha:      rgba(0, 0, 0, 0.865);   $grey-900-alpha:      $gray-900-alpha;


// Set a specific jump point for requesting color jumps
$theme-color-interval: 10%;

// Base colors
$blue:    hsl(218, 52, 39); // #305696
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     hsl(355, 75, 35); // #9c1622
$orange:  #fd7e14;
$yellow:  hsl( 39, 91, 70); // #f8c76e
$green:   hsl(134, 61, 41); // #28a745
$teal:    hsl(181, 58, 45); // #31b5b7
$cyan:    hsl(192, 68, 33); // #1b778f

$blue-100: hsl(218, 90, 98);
$blue-200: hsl(218, 80, 90);
$blue-300: hsl(218, 70, 75);
$blue-400: hsl(218, 60, 60);
$blue-500: $blue;
$blue-600: hsl(218, 60, 35);
$blue-700: hsl(218, 70, 30);
$blue-800: hsl(218, 80, 25);
$blue-900: hsl(218, 90, 20);

$indigo-100: tint-color($indigo, 9);
$indigo-200: tint-color($indigo, 8);
$indigo-300: tint-color($indigo, 6);
$indigo-400: tint-color($indigo, 4);
$indigo-500: $indigo;
$indigo-600: shade-color($indigo, 2);
$indigo-700: shade-color($indigo, 4);
$indigo-800: shade-color($indigo, 6);
$indigo-900: shade-color($indigo, 8);

$purple-100: tint-color($purple, 9);
$purple-200: tint-color($purple, 8);
$purple-300: tint-color($purple, 6);
$purple-400: tint-color($purple, 4);
$purple-500: $purple;
$purple-600: shade-color($purple, 2);
$purple-700: shade-color($purple, 4);
$purple-800: shade-color($purple, 6);
$purple-900: shade-color($purple, 8);

$pink-100: tint-color($pink, 9);
$pink-200: tint-color($pink, 8);
$pink-300: tint-color($pink, 6);
$pink-400: tint-color($pink, 4);
$pink-500: $pink;
$pink-600: shade-color($pink, 2);
$pink-700: shade-color($pink, 4);
$pink-800: shade-color($pink, 6);
$pink-900: shade-color($pink, 8);

$red-100: tint-color($red, 9);
$red-200: tint-color($red, 8);
$red-300: tint-color($red, 6);
$red-400: tint-color($red, 4);
$red-500: $red;
$red-600: shade-color($red, 2);
$red-700: shade-color($red, 4);
$red-800: shade-color($red, 6);
$red-900: shade-color($red, 8);

$orange-100: tint-color($orange, 9);
$orange-200: tint-color($orange, 8);
$orange-300: tint-color($orange, 6);
$orange-400: tint-color($orange, 4);
$orange-500: $orange;
$orange-600: shade-color($orange, 2);
$orange-700: shade-color($orange, 4);
$orange-800: shade-color($orange, 6);
$orange-900: shade-color($orange, 8);

$yellow-100: hsl( 39, 91, 98);
$yellow-200: hsl( 39, 91, 90);
$yellow-300: hsl( 39, 91, 85);
$yellow-400: hsl( 39, 91, 80);
$yellow-500: $yellow;
$yellow-600: hsl( 39, 91, 60);
$yellow-700: hsl( 39, 91, 50);
$yellow-800: hsl( 39, 91, 40);
$yellow-900: hsl( 39, 91, 30);

$green-100: tint-color($green, 9);
$green-200: tint-color($green, 8);
$green-300: tint-color($green, 6);
$green-400: tint-color($green, 4);
$green-500: $green;
$green-600: shade-color($green, 2);
$green-700: shade-color($green, 4);
$green-800: shade-color($green, 6);
$green-900: shade-color($green, 8);

$teal-100: hsl(181, 90, 98);
$teal-200: hsl(181, 80, 90);
$teal-300: hsl(181, 70, 75);
$teal-400: hsl(181, 60, 60);
$teal-500: $teal;
$teal-600: hsl(181, 60, 35);
$teal-700: hsl(181, 70, 30);
$teal-800: hsl(181, 80, 25);
$teal-900: hsl(181, 90, 20);

$cyan-100: hsl(192, 90, 98);
$cyan-200: hsl(192, 75, 90);
$cyan-300: hsl(192, 80, 75);
$cyan-400: hsl(192, 75, 60);
$cyan-500: $cyan;
$cyan-600: hsl(192, 75, 25);
$cyan-700: hsl(192, 80, 20);
$cyan-800: hsl(192, 85, 15);
$cyan-900: hsl(192, 90, 10);

$brand-primary:       $blue;
$brand-secondary:     $yellow;
$brand-tertiary:      $teal;
$brand-quaternary:    $cyan;


// Typography
// -------------------------

// Type scale:
// 12px  20px  48px
// 14px  24px  60px
// 16px  30px  72px
// 18px  36px

$font-family-sans-serif:  'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          1.8rem; // 18px
$line-height-base:        1.5;    // 27px
$line-height-computed:    2.7rem; // 27px

$h1-font-size: 4.8rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2rem;
$h6-font-size: $font-size-base;

$html-bg:     white;
$body-bg:     $html-bg;
$body-color:  $grey-800;

$link-color:        $body-color;
$link-color-hover:  $brand-primary;


// Breakpoints
// -------------------------

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);


// Grid
// -------------------------

$grid-columns: 12;
$grid-gutter-width: 20px;

$grid-gutter-width-xs: $grid-gutter-width / 4;
$grid-gutter-width-sm: $grid-gutter-width / 2;
$grid-gutter-width-md: $grid-gutter-width;
$grid-gutter-width-lg: $grid-gutter-width * 2;
$grid-gutter-width-xl: $grid-gutter-width * 4;
$grid-gutter-width-xxl: $grid-gutter-width * 8;


// Container
// -------------------------

$container-sm: 540px + $grid-gutter-width;
$container-md: 720px + $grid-gutter-width;
$container-lg: 940px + $grid-gutter-width;
$container-xl: 1140px + $grid-gutter-width;


// Components
// -------------------------

$border-radius: 15px;
$border-radius-sm: 5px;


// Responsive embed aspect ratios
// -------------------------

$embed-responsive-aspect-ratios: (
  "21by9": (
    x: 21,
    y: 9
  ),
  "16by9": (
    x: 16,
    y: 9
  ),
  "4by3": (
    x: 4,
    y: 3
  ),
  "1by1": (
    x: 1,
    y: 1
  )
)
