html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $html-bg;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}
