<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/tallgrasschurch.css">
  </head>

  <body>
      <header role="banner" id="site-header">
        <h1 class="logo"><a href="/"><img src="/img/logo.svg" width="410" height="100" alt="Tallgrass Community Church" /></a></h1>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list__item nav-list__item--visit"><a href="#">Visit</a></li>
            <li class="nav-list__item nav-list__item--ministries"><a href="#">Ministries</a></li>
            <li class="nav-list__item nav-list__item--resources"><a href="#">Resources</a></li>
            <li class="nav-list__item nav-list__item--about"><a href="#">About</a></li>
            <li class="nav-list__item nav-list__item--give"><a href="#">Give</a></li>
          </ul>
        </nav>

        <div class="search">
          <a href="#">
            <svg class="search__icon" width="1em" height="1em"><use xlink:href="/img/fontawesome/light.svg#search"></use></svg>
            <span class="search__text">Search<span>
          </a>
        </div>
      </header><!-- #header -->

      <main role="main" id="main-content">
        <div class="container">
          {{ content | safe }}
        </div><!-- .container -->
      </main><!-- #main -->
    </body>

    <footer id="site-footer">
      <div class="container">
        <p>Copyright &copy; 2018-2020 Tallgrass Community Church</p>
        <p><a href="/style-guide">Style Guide</a></p>
      </div><!-- .container -->
    </footer><!-- #footer -->
</html>
