<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/tallgrasschurch.css">
  </head>

  <body>
    <div class="container">
      <header role="banner" id="header">
        <h1>Tallgrass Community Church</h1>
      </header><!-- #header -->

      <main role="main" id="main">
        {{ content | safe }}
      </main><!-- #main -->
    </body>

    <footer id="footer">
      <p>Copyright &copy; 2018-2020 Tallgrass Community Church</p>
      <p><a href="/style-guide">Style Guide</a></p>
    </footer><!-- #footer -->
  </div><!-- .container -->
</html>
