//
// Theme
// --------------------------------------------------


// Site header
// -------------------------

#site-header {
  display: flex;
  margin-bottom: $grid-gutter-width-xl;
  padding: $grid-gutter-width-md;
  border-bottom: 1px solid $grey-300;

  > * {
    align-self: center;
  }

  .logo {
    flex: 0;
    margin: 0;
    line-height: 1;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 80px;
      max-width: none;
    }
  }

  .nav {
    flex: 1;
  }

  .nav-list {
    display: flex;
    margin: 0 $grid-gutter-width-sm;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
  }

  .nav-list__item {
    margin: 0 $grid-gutter-width-sm;
  }

  .nav-list__item--visit {}
  .nav-list__item--ministries {}
  .nav-list__item--resources {}
  .nav-list__item--about {}

  .nav-list__item--give {

    a {
      padding: $grid-gutter-width-xs $grid-gutter-width-sm;
      background-color: $grey-400;
    }
  }

  .search {
    flex: 0;
    white-space: nowrap;

    a {
      padding: $grid-gutter-width-xs $grid-gutter-width-sm;
    }
  }

  .search__icon {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: (1.8rem * .25);
  }

  .search__text {
    //@extend .visually-hidden;
  }
}


.visually-hidden {
  position: absolute;
  width: .0625rem;
  height: .0625rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
  pointer-events: none;
  opacity: 0;
}


// Main content
// -------------------------

#main-content {}


// Site footer
// -------------------------

#site-footer {
  margin-top: $grid-gutter-width-xl;
}


// Home hero
// -------------------------

.hero {
  padding: $grid-gutter-width-xl 0;
  text-align: center;
}


// Home sections
// -------------------------

.home-section {
  margin: $grid-gutter-width-xl 0;
}

.home-section__header {
  display: flex;

  > * {
    flex: 1;
  }
}

.home-section__header-title {
  margin: 0 ($grid-gutter-width-lg / 2) 0 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.home-section__header-more {
  margin: 0 0 0 ($grid-gutter-width-lg / 2);
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: right;
}


// Resources
// -------------------------

.featured-series {

  .card {
    margin-bottom: 0;
  }
}

.latest-resources {

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $grid-gutter-width-lg;
  }

  .card {
    margin-bottom: 0;
  }
}


// Central Gathering
// -------------------------

.central-gathering {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $grid-gutter-width-lg;
  color: white;
  background: $grey-700;

  > * {
    align-self: center;
  }
}

.central-gathering__text {
  padding: $grid-gutter-width-lg;
}

.central-gathering__img {
  background-color: black;
  height: 400px;
}


// Latest news
// -------------------------

.latest-news {

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $grid-gutter-width-lg;
  }

  .card {
    margin-bottom: 0;
  }
}


// Upcoming events
// -------------------------

.upcoming-events {

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: $grid-gutter-width-md;
  }

  .card {
    margin-bottom: 0;
    color: white;
    background-color: $grey-600;
  }
}
