//
// Layout
// --------------------------------------------------


// One column
// -------------------------

.layout--onecol {

  .layout__region {}

  .layout__region--content {}
}


// Two column
// -------------------------

.layout--twocol,
.layout--twocol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $grid-gutter-width-lg;
  }
}

.layout--twocol-section {

  @media (min-width: $screen-lg) {

    &.layout--twocol-section--50-50 {}

    &.layout--twocol-section--33-67 {
      grid-template-columns: 1fr 2fr;
    }

    &.layout--twocol-section--67-33 {
      grid-template-columns: 2fr 1fr;
    }

    &.layout--twocol-section--25-75 {
      grid-template-columns: 1fr 3fr;
    }

    &.layout--twocol-section--75-25 {
      grid-template-columns: 3fr 1fr;
    }
  }
}


// Three column
// -------------------------

.layout--threecol-33-34-33,
.layout--threecol-25-50-25,
.layout--threecol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  .layout__region--third {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $grid-gutter-width-lg;
  }
}

.layout--threecol-33-34-33,
.layout--threecol-section--33-34-33 {}

.layout--threecol-25-50-25,
.layout--threecol-section--25-50-25 {

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.layout--threecol-section--50-25-25 {

  @media (min-width: $screen-lg) {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.layout--threecol-section--25-25-50 {

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr 1fr 2fr;
  }
}


// Four column
// -------------------------

.layout--fourcol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  .layout__region--third {}

  .layout__region--fourth {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $grid-gutter-width-lg;
  }
}
