//
// Layout
// --------------------------------------------------


// One column
// -------------------------

.layout--onecol {

  .layout__region {}

  .layout__region--content {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: $grid-gutter-width-lg;

    .layout__region--content {
      grid-column: 1 / span 12;
    }

    &.constrain-by-1 .layout__region--content {
      grid-column: 2 / span 10;
    }

    &.constrain-by-2 .layout__region--content {
      grid-column: 3 / span 8;
    }

    &.constrain-by-3 .layout__region--content {
      grid-column: 4 / span 6;
    }
  }
}


// Two column
// -------------------------

.layout--twocol,
.layout--twocol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: $grid-gutter-width-lg;
  }
}

.layout--twocol-section {

  @media (min-width: $screen-lg) {

    &.layout--twocol-section--50-50 {}

    &.layout--twocol-section--33-67 {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &.layout--twocol-section--67-33 {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }

    &.layout--twocol-section--25-75 {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    }

    &.layout--twocol-section--75-25 {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    }
  }
}


// Three column
// -------------------------

.layout--threecol-33-34-33,
.layout--threecol-25-50-25,
.layout--threecol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  .layout__region--third {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: $grid-gutter-width-lg;
  }
}

.layout--threecol-33-34-33,
.layout--threecol-section--33-34-33 {}

.layout--threecol-25-50-25,
.layout--threecol-section--25-50-25 {

  @media (min-width: $screen-lg) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  }
}

.layout--threecol-section--50-25-25 {

  @media (min-width: $screen-lg) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

.layout--threecol-section--25-25-50 {

  @media (min-width: $screen-lg) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  }
}


// Four column
// -------------------------

.layout--fourcol-section {

  .layout__region {}

  .layout__region--first {}

  .layout__region--second {}

  .layout__region--third {}

  .layout__region--fourth {}

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: $grid-gutter-width-lg;
  }
}
