//
// Subnav block
// --------------------------------------------------


.block--block-subnav {
  order: 3;

  .menu--main {
    display: flex;
    justify-content: center;
    margin: 0 0 $grid-gutter-width-lg;
    padding: 0;
    list-style-type: none;

    .menu__item {
      margin: 0 5px;

      a {
        @include remove-link-styles;
        padding: .5em 1em;
        color: $grey-600;
        background-color: $grey-100;
        border: 1px solid $grey-200;
        border-radius: $border-radius;

        &.is-active {
          color: $link-color;
          background-color: white;
        }

        &:hover,
        &:focus {
          color: $grey-700;
          border-color: $grey-400;

          &.is-active {
            color: $link-color;
          }
        }
      }
    }
  }
}
