//
// Home page recent series block
// --------------------------------------------------


.block--block-latest-resources {
  margin-top: $grid-gutter-width-xl;

  > .container {
    @include add-container-styles;
  }
}

.view-latest-resources {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: $grid-gutter-width;
  row-gap: $grid-gutter-width;

  .view-header {}

  .view-content {
    grid-column: 1 / span 2;
    @extend .card-deck;
    @extend .card-deck--3-col;
    margin: 0;
  }

  .view-footer {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    text-align: right;
  }

  .view-latest-resources__title,
  .view-latest-resources__more {
    margin: 0;
  }

  .view-latest-resources__title {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .view-latest-resources__more {
    font-size: 1.4rem;
  }
}
