//
// Content layout (node and view)
// --------------------------------------------------


// General layout
// -------------------------

.layout {}


// Right sidebar layout
// -------------------------

.layout--sidebar-right {

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(10, [col] 1fr);
    grid-gap: $grid-gutter-width;

    .layout__top {
      grid-column-end: span 10;
    }

    .layout__main {
      grid-column-end: span 7;
    }

    .layout__sidebar {
      grid-column-end: span 3;
      padding-left: $grid-gutter-width;

      // TODO: Better way to do this
      .field {

        .field__label {
          margin-top: 0;
        }
      }
    }

    .layout__bottom {
      grid-column-end: span 10;
    }
  }
}


// TODO: Some of these styles should only apply to specific content types
// TODO: Is this used anywhere?
.node-header {
  display: flex;
  flex-direction: column;
  margin-bottom: $grid-gutter-width;

  .node-header__title {
    order: 2;
    margin: 0 0 10px;
    line-height: 1.2;
  }

  .node-header__subtitle {
    order: 3;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.2;
  }

  .node-header__date {
    order: 1;
    margin: 0;
    font-size: 0.8em;
    line-height: $line-height-base;
  }

  .node-header__meta {
    order: 4;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: $line-height-base;

    dl {
      //flex: 0 0 auto;
    }
  }

  .node-header__speaker,
  .node-header__scripture,
  .node-header__series {
    margin: 0;

    dt,
    dd {
      display: inline;
    }

    dt {}

    dd {

      &:after {
        content: ",";
      }

      &:last-child {

        &:after {
          content: "";
        }
      }
    }
  }

  .node-header__speaker {}

  .node-header__scripture {}

  .node-header__series {}

  > *:not(.node-header__title):not(.node-header__subtitle):not(.node-header__date):not(.node-header__meta) {
    order: 5;
  }
}
