//
// Layout
// --------------------------------------------------


// Page
// -------------------------

.page {
  background-color: white;
}


// Container
// -------------------------

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @media (min-width: $screen-sm) {
    width: $container-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @media (min-width: $screen-lg) {
    width: $container-lg;
  }

  @media (min-width: $screen-xl) {
    width: $container-xl;
  }
}


// Header
// -------------------------

#header {
  margin: 0;
  padding: $grid-gutter-width 0;
  background-color: white;
  border-bottom: 1px solid $grey-lighter;
}

#header .container {}

.region--header {

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;

    .block {
      flex: 1 1 auto;
    }
  }
}


// Content top
// -------------------------

#content-top {}


// Content
// -------------------------

#content {
  margin: ($grid-gutter-width * 2) 0;
  background-color: white;
}

#content .layout {

  .layout__region {}
}

#content .layout--onecol {

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-gap: $grid-gutter-width;

    > * {
      grid-column-start: 3;
      grid-column-end: span 8;
    }
  }
}

#content .layout--sidebar {

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-gap: $grid-gutter-width;
  }

  .layout__region--top {
    grid-row-start: 1;
    grid-column-end: span 12;
  }

  .layout__region--main {
    grid-row-start: 2;
    grid-column-end: span 7;
  }

  .layout__region--sidebar {
    grid-row-start: 2;
    grid-column-end: span 3;
  }

  .layout__region--bottom {
    grid-row-start: 3;
    grid-column-end: span 12;
  }
}

#content .layout--sidebar-right {

  .layout__region--main {
    grid-column-start: 2;
  }

  .layout__region--sidebar {
    grid-column-start: 9;
    padding-left: $grid-gutter-width;
  }
}

#content .layout--sidebar-left {

  .layout__region--main {
    grid-column-start: 5;
  }

  .layout__region--sidebar {
    grid-column-start: 2;
    padding-right: $grid-gutter-width;
  }
}


// Content bottom
// -------------------------

#content-bottom {}


// Footer
// -------------------------

#footer {
  padding: ($grid-gutter-width * 4) 0;
  color: white;
  background-color: $grey-darker;
  font-size: 1.4rem;
  text-align: center;

  a {
    color: inherit;
  }
}
