//
// Layout
// --------------------------------------------------


// Page
// -------------------------

.page {
  background-color: white;
}


// Container
// -------------------------

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @media (min-width: $screen-sm) {
    width: $container-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @media (min-width: $screen-lg) {
    width: $container-lg;
  }

  @media (min-width: $screen-xl) {
    width: $container-xl;
  }
}


// Header
// -------------------------

#header {
  margin: 0;
  padding: $grid-gutter-width 0;
  background-color: white;
  border-bottom: 1px solid $grey-lighter;

  @media (min-width: $screen-md) {
    padding-top: ($grid-gutter-width / 2);
    padding-bottom: ($grid-gutter-width / 2);
  }
}

#header .container {}

.region--header {

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;

    .block {
      flex: 1 1 auto;
    }
  }
}


// Main
// -------------------------

#main-content {
  background-color: $grey-lightest;
}


// Content top
// -------------------------

#content-top {}


// Content
// -------------------------

#content {
  margin: 0;
}


// Content bottom
// -------------------------

#content-bottom {}


// Footer
// -------------------------

#footer {
  position: relative;
  padding: ($grid-gutter-width * 2) 0;
  color: $grey-light;
  font-size: 1.4rem;
  text-align: center;

  a {
    color: inherit;
  }
}
