//
// Theme
// --------------------------------------------------


.article--teaching {}


// TODO: Some of these styles should only apply to specific content types
.article-header {
  display: flex;
  flex-direction: column;
  margin-bottom: $grid-gutter-width;

  .article-header__title {
    order: 2;
    margin: 0;
    line-height: 1.2;
  }

  .article-header__subtitle {
    order: 3;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.2;
  }

  .article-header__date {
    order: 1;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: $line-height-base;
  }

  .article-header__meta {
    order: 4;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: $line-height-base;

    dl {
      //flex: 0 0 auto;
    }
  }

  .article-header__speaker,
  .article-header__scripture,
  .article-header__series {
    margin: 0;

    dt,
    dd {
      display: inline;
    }

    dt {}

    dd {

      &:after {
        content: ",";
      }

      &:last-child {

        &:after {
          content: "";
        }
      }
    }
  }

  .article-header__speaker {}

  .article-header__scripture {}

  .article-header__series {}

  > *:not(.article-header__title):not(.article-header__subtitle):not(.article-header__date):not(.article-header__meta) {
    order: 5;
  }
}


// Status messages
// -------------------------

// TODO: Finish these styles
.status-messages {
  margin: ($grid-gutter-width * 2) 0;

  .container {

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
      grid-gap: $grid-gutter-width;
    }
  }

  .status-message {
    @extend .alert;
    @extend .alert--primary;

    @media (min-width: $screen-md) {
      grid-column-start: 3;
      grid-column-end: span 8;
    }
  }
}


// TODO: Re-name this class to something more specific
// TODO: Make these styles more re-usable
.links {
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid $grey-lighter;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $grey-lightest;
      }
    }
  }
}
