//
// Region
// --------------------------------------------------


.region {}


// Header region
// -------------------------

.region--header {

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;

    .block {
      flex: 1 1 auto;
    }
  }
}


// Above the content region
// -------------------------

.region--content-above {}


// Content top region
// -------------------------

.region--content-top {}


// Content region
// -------------------------

.region--content {}


// Content bottom region
// -------------------------

.region--content-bottom {}


// Below the content region
// -------------------------

.region--content-below {}


// Footer region
// -------------------------

.region--footer {}
