//
// Theme
// --------------------------------------------------


// Site header
// -------------------------

#site-header {
  background-color: $grey-100;

  .nav-list__item--give {

    a {
      padding: $grid-gutter-width-xs $grid-gutter-width-sm;
      background-color: $grey-400;
    }
  }

  .search {
    flex: 0;
    white-space: nowrap;

    a {
      @include undo-link-styles;
      padding: $grid-gutter-width-xs $grid-gutter-width-sm;
    }
  }

  .search__icon {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: (1.8rem * .25);
  }

  .search__text {
    //@extend .visually-hidden;
  }
}


.visually-hidden {
  position: absolute;
  width: .0625rem;
  height: .0625rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
  pointer-events: none;
  opacity: 0;
}


// Main content
// -------------------------

#main-content {}


// Site footer
// -------------------------

#site-footer {
  margin-top: $grid-gutter-width-xl;
  padding-top: $grid-gutter-width-md;
  border-top: 1px solid $grey-300;
}
