{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

<nav class="menu-local-tasks">
  {% if primary %}
    <h2 class="menu-local-tasks__title visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="menu-local-tasks__list">{{ primary }}</ul>
  {% endif %}
  {% if secondary %}
    <h2 class="menu-local-tasks__title visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="menu-local-tasks__list">{{ secondary }}</ul>
  {% endif %}
</nav>
