//
// Cards
// --------------------------------------------------


// Base styles
// -------------------------

.card {
  display: flex;
  flex-direction: column;
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  background-color: $grey-100;

  .card__img {
    width: 100%;
    height: 100%;

    * {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      object-fit: cover;
    }
  }

  .card__content {
    font-size: 1.6rem;
  }

  .card__header {
    margin: $grid-gutter-width-md;
  }

  .card__title {
    font-size: 2.4rem;
    margin: 0;
  }

  .card__body {
    margin: $grid-gutter-width-md;
  }

  .card__footer {
    margin: $grid-gutter-width-md;
  }
}


// Horizontal cards
// -------------------------

.card--h {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $grid-gutter-width;

  .card__img {}

  .card__content {
    display: flex;
    flex-direction: column;
  }

  .card__header {
    margin-left: 0;
  }

  .card__body {
    margin-left: 0;
  }

  .card__footer {
    margin-top: auto;
    margin-left: 0;
  }
}


// Card decks
// -------------------------

.card-deck {
  display: grid;
  gap: $grid-gutter-width-lg;
  margin-top: $grid-gutter-width-lg;
  margin-bottom: $grid-gutter-width-lg;

  .card,
  .card--h {
    margin: 0;
  }
}

.card-deck--2-col {
  @extend .card-deck;
  grid-template-columns: 1fr 1fr;
}

.card-deck--3-col {
  @extend .card-deck;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-deck--4-col {
  @extend .card-deck;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


// ???
// -------------------------

/*
.card {

  .card__title {
    order: 2;
    margin: 0 0 $grid-gutter-width-md;
    font-size: 2.0rem;

    a {
      text-decoration: none;
    }
  }

  .card__date {
    order: 3;
    margin: 0 0 $grid-gutter-width-md;
    font-size: 1.4rem;
  }

  .card__label {
    order: 1;
    margin: 0 0 $grid-gutter-width-md;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .card__content {}

  .card__author {
    display: flex;
    font-size: 1.4rem;
  }

  .card__author-link {
    display: inline-block;
  }

  .card__author-img {
    margin-right: $grid-gutter-width-sm;
    border: 1px solid $grey-200;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  .card__author-name {
    align-self: center;
  }
}

.card--h {

  .card__title {
    //font-size: 2.4rem;
  }
}
*/
