//
// Tags
// --------------------------------------------------


.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

  .tag-list__item {
    margin: 0 $grid-gutter-width-sm $grid-gutter-width-sm 0;
  }
}

.tag {
  color: $blue;
  font-size: 1.4rem;

  a {
    display: inline-block;
    padding: $grid-gutter-width-xs $grid-gutter-width-sm;
    color: $blue-500;
    background-color: $blue-100;
    border-radius: $border-radius;
    text-decoration: none;

    &::before {
      content: "# ";
      color: $blue-400;
    }
  }
}
