//
// Content block
// --------------------------------------------------


.block--block-tallgrasschurch-v1-content {
  margin: ($grid-gutter-width * 4) 0;

  .container {

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
      grid-gap: $grid-gutter-width;
    }
  }

  .block-wrapper {

    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-column-end: span 8;
    }
  }
}


// Teaching
// -------------------------

.page--teaching .block--block-tallgrasschurch-v1-content {

  .block-wrapper {

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: span 10;
    }
  }
}
