<h2>Color</h2>

<div class="sg-brand-colors">
  <h3>Brand Colors</h3>
  <ul class="sg-color-list">
    <li class="sg-color-list__item">
      <span class="sg-color-list__name">$blue</span><br>
      #305696
    </li>
    <li class="sg-color-list__item">
      <span class="sg-color-list__name">$teal</span><br>
      #31b5b7
    </li>
    <li class="sg-color-list__item">
      <span class="sg-color-list__name">$cyan</span><br>
      #1b778f
    </li>
    <li class="sg-color-list__item">
      <span class="sg-color-list__name">$yellow</span><br>
      #f8c76e
    </li>
  </ul><!-- .sg-color-list -->
</div><!-- .sg-brand-colors -->


<div class="color-wrapper">
  <div class="color grey-100">grey-100</div>
  <div class="color grey-200">grey-200</div>
  <div class="color grey-300">grey-300</div>
  <div class="color grey-400">grey-400</div>
  <div class="color grey-500">grey-500</div>
  <div class="color grey-600">grey-600</div>
  <div class="color grey-700">grey-700</div>
  <div class="color grey-800">grey-800</div>
  <div class="color grey-900">grey-900</div>
</div>

<div class="color-wrapper">
  <div class="color blue-100">blue-100</div>
  <div class="color blue-200">blue-200</div>
  <div class="color blue-300">blue-300</div>
  <div class="color blue-400">blue-400</div>
  <div class="color blue-500">blue-500</div>
  <div class="color blue-600">blue-600</div>
  <div class="color blue-700">blue-700</div>
  <div class="color blue-800">blue-800</div>
  <div class="color blue-900">blue-900</div>
</div>

<div class="color-wrapper">
  <div class="color teal-100">teal-100</div>
  <div class="color teal-200">teal-200</div>
  <div class="color teal-300">teal-300</div>
  <div class="color teal-400">teal-400</div>
  <div class="color teal-500">teal-500</div>
  <div class="color teal-600">teal-600</div>
  <div class="color teal-700">teal-700</div>
  <div class="color teal-800">teal-800</div>
  <div class="color teal-900">teal-900</div>
</div>

<div class="color-wrapper">
  <div class="color cyan-100">cyan-100</div>
  <div class="color cyan-200">cyan-200</div>
  <div class="color cyan-300">cyan-300</div>
  <div class="color cyan-400">cyan-400</div>
  <div class="color cyan-500">cyan-500</div>
  <div class="color cyan-600">cyan-600</div>
  <div class="color cyan-700">cyan-700</div>
  <div class="color cyan-800">cyan-800</div>
  <div class="color cyan-900">cyan-900</div>
</div>

<div class="color-wrapper">
  <div class="color yellow-100">yellow-100</div>
  <div class="color yellow-200">yellow-200</div>
  <div class="color yellow-300">yellow-300</div>
  <div class="color yellow-400">yellow-400</div>
  <div class="color yellow-500">yellow-500</div>
  <div class="color yellow-600">yellow-600</div>
  <div class="color yellow-700">yellow-700</div>
  <div class="color yellow-800">yellow-800</div>
  <div class="color yellow-900">yellow-900</div>
</div>

<div class="color-wrapper">
  <div class="color red-100">red-100</div>
  <div class="color red-200">red-200</div>
  <div class="color red-300">red-300</div>
  <div class="color red-400">red-400</div>
  <div class="color red-500">red-500</div>
  <div class="color red-600">red-600</div>
  <div class="color red-700">red-700</div>
  <div class="color red-800">red-800</div>
  <div class="color red-900">red-900</div>
</div>

<div class="color-wrapper">
  <div class="color green-100">green-100</div>
  <div class="color green-200">green-200</div>
  <div class="color green-300">green-300</div>
  <div class="color green-400">green-400</div>
  <div class="color green-500">green-500</div>
  <div class="color green-600">green-600</div>
  <div class="color green-700">green-700</div>
  <div class="color green-800">green-800</div>
  <div class="color green-900">green-900</div>
</div>
