---
layout: default
---

<article>
  <header class="page-header">
    <div class="container">
      <h2 class="page-header__title">An Awesome Tallgrass Church</h2>
      <div class="page-header-meta">
        <div class="page-header-meta__author">Ben Deaver</div>
        <div class="page-header-meta__date">March 1, 2020</div>
        <div class="page-header-meta__scripture">Scripture: <a href="#">Acts 2:42-47</a></div>
      </div>
      <nav class="breadcrumbs">
        <ul class="breadcrumbs-list">
          <li class="breadcrumbs-list__item"><a href="#">Resources</a></li>
          <li class="breadcrumbs-list__item"><a href="#">Teachings</a></li>
          <li class="breadcrumbs-list__item"><a href="#">The Acts of Jesus Continued</a></li>
        </ul><!-- .breadcrumbs-list -->
      </nav><!-- .breadcrumbs -->
    </div><!-- .container -->
  </header><!-- .page-header -->

  <div class="container">
    <section class="media">
      <h3 class="media__title">Media</h3>
      <div class="media__links">
        <ul class="media-select">
          <li class="media-select__item media-select__item--video"><a href="#">Watch</a></li>
          <li class="media-select__item media-select__item--audio"><a href="#">Listen</a></li>
        </ul><!-- .media-select -->
        <div class="media-download"><a href="#">Download</a></div>
      </div><!-- .media__links -->
      <div class="media__player">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/395087551?color=98e2fd" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div><!-- .media__player -->
    </section><!-- .media -->
  </div><!-- .container -->

  <div class="teaching-content">
    <div class="container">
      <div class="teaching-content__main">
        <p>Tallgrass Church wants to be devoted to the same L.I.F.E. and work as the early church! So, what would a truly awesome Tallgrass be like? This practical teaching looks at how our church is seeking to flesh this mission and vision out in our context. It also introduces the analogy of helping invite one another into deep and meaningful connection to God and community as being like moving from being a menu-browser at your favorite restaurant, to a regular attender, and then eventually into being a co-owner! Where are you at with your engagement with Tallgrass Church? And what's your next step?</p>

        <section class="files">
          <h3 class="files__title">Files</h3>
          <ul class="files-list">
            <li class="files-list__item"><a href="#">PowerPoint Slides</a></li>
            <li class="files-list__item"><a href="#">Teaching Notes</a></li>
          </ul>
        </section><!-- .files -->

        <section class="tags">
          <h3 class="tags__title">Tags</h3>
          <ul class="tags-list">
            <li class="tags-list__item"><a href="#">Tallgrass</a></li>
            <li class="tags-list__item"><a href="#">church</a></li>
            <li class="tags-list__item"><a href="#">awesome</a></li>
            <li class="tags-list__item"><a href="#">life</a></li>
            <li class="tags-list__item"><a href="#">menu</a></li>
            <li class="tags-list__item"><a href="#">browser</a></li>
            <li class="tags-list__item"><a href="#">regular</a></li>
            <li class="tags-list__item"><a href="#">attender</a></li>
            <li class="tags-list__item"><a href="#">co-owner</a></li>
            <li class="tags-list__item"><a href="#">Bistro</a></li>
          </ul><!-- .tags-list -->
        </section><!-- .tags -->
      </div><!-- .teaching-content__main -->

      <div class="teaching-content__sidebar">
        <section>
          <img src="https://placeimg.com/400/225/animals?q=series" alt="">
          <div>Series</div>
          <div>The Acts of Jesus Continued</div>
          <div><a href="#">View series</a></div>
        </section>
      </div><!-- .teaching-content__sidebar -->
    </div><!-- .container -->
  </div><!-- .teaching-content -->
<article>

  <div class="signpost">
    <div class="signpost__item signpost__item--prev">
      <a href="#">
        <div class="signpost__label">Previous Teaching</div>
        <div class="signpost__title">An Awesome Church</div>
      </a>
    </div>
    <div class="signpost__item signpost__item--next">
      <a href="#">
        <div class="signpost__label">Next Teaching</div>
        <div class="signpost__title">Renewal and Prayer CG</div>
      </a>
    </div>
  </div>
